body{
	background:#ececec;
}
h1{
	font-size: 22px;
    line-height: 1.4;
    margin-bottom: 25px;
    margin: 15px;
}
p{
	margin: 15px;
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 28px;
}
img{
	width: 95%;
	margin: 10px;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    background-color: #f6f6f6;
    margin: 20px 0;
    border-bottom: 0px solid #ff0e47;
    padding: 5px 12px;
    border-left: 5px solid #ff0e47;
    color: #ff0000;
    margin: 12px 0px;
}
h6 {
    font-size: 14px;
    font-weight: bold;
    background-color: #e8f3e461;
    border: 1px dashed #86c788;
    padding: 2px 10px;
    margin: 10px 0px 18px 0px;
    overflow: hidden;
    color: #1f9a29;
    border-radius: 5px;
    padding: 10px;
    line-height: inherit;
}
button {
    color: #fff;
    border: 1px solid #ff0e47;
    border-radius: 3px;
    background-color: #ff0e47;
    font-weight: 600;
    padding: 10px 25px;
}
.content{
	margin:20px auto;
	background:#ffffff;
	border-radius: 20px;
	width: 750px;
	padding: 20px;
}
.text-center{
	text-align: center;
}
@media (max-width: 767px){
	.content{
	width:100%;
	padding: 20px 0px;
    }
}
